.section-1 {
  background-color: $color-purple;
  color: $color-white;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 30%;
    font-size: 1.5rem;

    &--logo {
      width: 25rem;
      height: 10rem;
    }

    &--items {
      color: $color-white;
      display: flex;
      padding: 5rem 5rem;

      .link {
        color: $color-white;
      }
    }

    &--buttons {
      padding: 5rem 5rem;
    }
  }

  &__content {
    // height: 60%;
    display: flex;
    justify-content: space-around;

    &--text {
      margin-top: 5rem;
      // margin: 2rem 10rem;
      font-size: 2rem;
    }

    &--photo {
      width: 45rem;
      margin-bottom: 2rem;
    }
  }
}

//  ----------------------------SECTION 2------------------------
.section-2 {
  background-color: $color-white;
  margin-bottom: 5rem;

  &__title {
    color: #111;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
  }

  &__content {
    display: flex;
    justify-content: space-around;

    &--items {
      width: 40%;

    }

    &--service {
      margin-top: 15rem;
      width: 30%;
      height: 40%;
    }
  }
}

//  ----------------------------SECTION 3------------------------
.section-3 {
  background-color: $color-green;
  color: $color-white;
  display: flex;
  justify-content: space-around;
  padding: 2rem;

  &__right {
    background-image: linear-gradient(
      to bottom,
      rgb(122, 192, 149),
      $color-green
    );
    padding: 5rem;

    &--title {
      text-align: center;
      margin-bottom: 5rem;
    }

    &--ul {
      margin-top: 1rem;
      margin-bottom: 5rem;

      li {
        font-size: 1.7rem;
      }
    }

    &--buttons {
      text-align: center;
    }
  }

  &__left {

    &--title{
      margin-right: 5rem;
      margin-bottom: 2rem;
    }

    &--photo {
      width: 80%;
      height: 80%;
    }
  }
}

//  ----------------------------SECTION 4------------------------
.section-4 {
  background-color: $color-red;
  padding: 5rem;

  &__title {
    color: #111;
    padding: 1rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    color: $color-white;
    font-size: 1.5rem;

    &--item {
      width: 33%;
      text-align: center;
    }
  }

  &__footer {
    text-align: center;
    color: $color-white;
    margin-top: 5rem;
  }
}

//  ----------------------------SECTION 5------------------------
.section-5 {
  background-color: $color-ivory;

  &__title {
    padding-top: 5rem;
    text-align: center;
  }

  &__icons {
    font-size: 1.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

//  ----------------------------SECTION 6------------------------
.section-6 {
  background-color: $color-dark-purple;
  display: flex;
  justify-content: space-between;

  &__photo {
    width: 30rem;
  }

  &__content {
    width: 40%;

    &--icon {
    }

    &--title {
      margin-bottom: 5rem;
      color: $color-white;
      text-align: center;
    }

    &--paragraph {
      color: $color-white;
      font-size: 1.5rem;
    }
  }

  &__button {
    margin-top: 10rem;
    margin-left: 5rem;
  }
}

//  ----------------------------FOOTER------------------------
.footer {
  background-color: $color-grey;
  display: flex;
  justify-content: space-around;
  
  &__codejudge{
    font-size: 1.5rem;
    &--title{
      color: $color-purple-footer;
      font-size: 1.9rem;
      border-bottom: 1px solid rgb(121, 110, 110);
    }
    
  }

  &__links{
    font-size: 1.5rem;
    &--title{
      color: $color-purple-footer;
      font-size: 1.9rem;
      border-bottom: 1px solid rgb(121, 110, 110);
    }
  }

  &__paragraph{
    color: $color-purple-footer;
    padding: 2rem .1rem;
    font-size: 2rem;
  }

  &__logo{

  }
}
